body{
    background-color:#6392cb;
    color:black;
}
.cabecalho{

 display: grid;
 grid-template-columns: 50% 50%;

}

.cabecalho img{
    text-align:center;
    width: 100%;

}
.cabecalho h1{
    margin-left: 5%;
}
.conteudo1{
    display:flex;
    margin-top: 30px ;
    font-size: 22px;
}