body{
    background-color:#6392cb;
    color:black;

}
.cabecalho{

 display: grid;
 grid-template-columns: 50% 50%;
font-size: 23px;
}

.cabecalho-direito{
     font-size: 18px;
    margin-left: 40px;
    margin-right: 20px;
}

.cabecalho img{
    text-align:center;
    width: 100%;
    margin-left: 20px;

}
.cabecalho h1{
    margin-right: 20px;
    font-size: 40px;
}
.conteudo1{
    display:flex;
    flex-direction: row-reverse;
    margin-top: 30px ;
    font-size: 18px;
}
.conteudo1-esquerdo{
    margin-left: 60px

}
.conteudo1-esquerdo img{
    width: 40%;
    margin-left: 300px;
}
.conteudo1-direito{
    margin-left: 20px;
}
.conteudo1-direito img{
    width: 40%;
    margin-top: 70px;
}